extends layout

block content
  h1= title
  table
    tr
       th Date
       th Version
       each column in columns
         th= column

    each record in records
      tr
        td
          a(href='view/' + record.id)
            = record.time.toLocaleString()
        td
          = record.version
        each column in columns
          td= record.fields[column]

